@{
    ViewBag.Title = "Home Page";
}

<br />
<br /><style>
    .center {
        text-align: center;
        
    }

    .container-fluids
    {
        display:flex;
        align-items:center;
        justify-content:center
    }
    .img-col{
        flex-basis:200%
    }


</style>
<br />
<div class="container">
    <div class="container-fluid">
        <div class="center-block">
            <h1 class="text-center">
                Don't just intergrate <br />
                Accelerate your CRM
            </h1>
            <br />
            <p class="text-center">
                Propel your sales team into a state of flow with CRM Accelerations. Switch out boring hour of <br />
                repetative work with high-impact activities. Build a repeatative sales process.
            </p>

            <br />
            <br />
            <p class="text-center"><a href="" class="btn btn-primary btn-lg">GET STATERD</a></p>

        </div>
    </div>



</div>


<br />
<br />
<br />
<div class="container">

    <div class="media col-md-6">
        <div class="span4">
            <img style="float:left" src="~/Content/Image/icon1.png" />
            <div class="content-heading"><h3>Engage instantly with prospect who show intent &nbsp; </h3></div>
            <p style="clear:both">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  Auto-sync email engagement data like open, clicks and replies from Klenty right
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;into your CRM. Get notified immediately. Followup without skipping a beat.
            </p>
        </div>

    </div>

    <div class="col-md-6">
        <div class="span4">
            <img style="float:left" src="~/Content/Image/icon2.png" />
            <div class="content-heading"><h3>Outreach without leaving your CRM &nbsp; </h3></div>
            <p style="clear:both">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  Engage with prospects straight from your CRM. Book meeting using Klenty-
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; without ever logging into Klenty. No more switching screen
                to execute sales &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; outreach.

            </p>

        </div>
    </div>
 </div>
   
    
   
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="container">
        <div class="container-fluid">
            <div id="mycarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#mycarousel" data-slide-to="1"></li>
                    <li data-target="#mycarousel" data-slide-to="2"></li>

                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <br />
                        
                        <h2 class=" text-center"> what our customers have to say </h2>
                        <br />
                        <br />
                        <br />
                    
                            <div class="container-fluids">
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <div class="col-md-offset-0">
                                    <div class="span4">
                                        <img style="float:left" src="~/Content/Image/qoute-start.png" width="25" height="25" />
                                        <img src="~/Content/Image/company1.png" class="center-block" />
                                        <img style="float:right" src="~/Content/Image/qoute-end.png" width="25" height="25" />
                                    </div>
                                    <br />
                                    <br />
                                    <div class="center-block">
                                        <p class="center">
                                            &nbsp; &nbsp; seamlessly integrates with Pipedrive and offers<br />
                                            Straightforward email tracking and cadence management. The<br />
                                            Contact Sync is simple and the support is top-notch. A very <br />
                                            efficiet and effective platform.
                                        </p>

                                    </div>
                                    <br />
                                    <br />
                                    <div class="span4 center">
                                        <img style="float:left" src="~/Content/Image/terersa.png" width="60" height="60" class="center" />
                                        <h3>Teresa Van Oerle</h3>

                                        Director of Business  Development
                                    </div>
                                </div>
                            </div>
                        <br />
                        <br />
                    </div>
                    <div class="item">
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />


                        <div class="container-fluids">
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <div class="col-md-offset-0">
                                <div class="span4">
                                    <img style="float:left" src="~/Content/Image/qoute-start.png" width="25" height="25" />
                                    <img src="~/Content/Image/company1.png" class="center-block" />
                                    <img style="float:right" src="~/Content/Image/qoute-end.png" width="25" height="25" />
                                </div>
                                <br />
                                <br />
                                <div class="center-block">
                                    <p class="center">
                                        &nbsp; &nbsp; Lorem Ipsum is simply dummy text of the printing and<br />
                                        typesetting industry. Lorem Ipsum has been the industry's <br />
                                        standard dummy text ever since the 1500s, when an unknown  <br />
                                        Printer took a galley of type and scrambled it to make a type <br />
                                        specimen book.
                                    </p>

                                </div>
                                <br />
                                <br />
                                <div class="span4 center">
                                    <img style="float:left" src="~/Content/Image/alex.png" width="60" height="60" class="center" />
                                    <h3>Tin</h3>

                                    Director of Business growth
                                </div>
                            </div>
                        </div>

                        <br />
                        <br />
                        <br />
                    </div>
                    <div class="item">
                        
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />

                        <div class="container-fluids">
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <div class="col-md-offset-0">
                                <div class="span4">
                                    <img style="float:left" src="~/Content/Image/qoute-start.png" width="25" height="25" />
                                    <img src="~/Content/Image/company1.png" class="center-block" />
                                    <img style="float:right" src="~/Content/Image/qoute-end.png" width="25" height="25" />
                                </div>
                                <br />
                                <br />
                                <div class="center-block">
                                    <p class="center">
                                        &nbsp; &nbsp; Klenty seamlessly integrates with Pipedrive and offers<br />
                                        Straightforward Lorem Ipsum has been the industry's standard<br />
                                        dummy text ever since the 1500s, when an unknown printer took<br />
                                        a galley of type and scrambled it to make a type specimen book.
                                    </p>

                                </div>
                                <br />
                                <br />
                                <div class="span4 center">
                                    <div class="img-col">
                                        <img style="float:left" src="~/Content/Image/Brandon.png" width="60" height="60" class="center" />
                                    </div>
                                    <div class="text-col">
                                        <h3>FIN</h3>

                                        Director of  Development
                                    </div>
                                </div>
                            </div>

                        </div>

                        <br />
                        <br />
                        <br />
                    </div>
                    </div>
                    <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
    </div>
    <script>
    $("Carousel").carousel({
        intervel:2000

    });
    </script>




